            .icons img {
                width: 10%;
                height: auto;
                text-align: left;
            /*      width: vmax    */
            /*   display: block; 
                margin-left: auto; 
                margin-right: auto */
            }

            #plus img {
                width: 5%;
                height: auto;
                text-align: center;
                align: center;
            /*      width: vmax    */
            /*   display: block; 
                margin-left: auto; 
                margin-right: auto */
            }

            .footer {
				width: auto;
				background-color: #062b48;
                margin-top: 50px;
                padding-top: 10px;
                padding-bottom: 10px;
                color: #fff;
                font-size: .8em;
                text-align: center;
				border: #000000 3px groove;
				margin: auto;
				border-radius: 0em;
				padding: .5em;
				/* box-shadow: 7px 7px 7px #6e6e6e; */
			}

            .sub-options {
                margin-left: 40px;
                margin-top: -5px;
                display:none;
            }

            .sub-options+.checkbox {
                margin-top: -5px;
            }



            .showme{ 
                display: none;
            }

            .taxonomy:hover .showme{
                display : block;
            }

            .showme:nth-child(even) {
               color: white;
               background-color: orange;
            }

            legend {
                margin-top: -5px;
                font-family: GT Walsheim;
                text-transform: uppercase;
                color: white;
                /*color: #eb2f3d;*/
            }

            #date {
                cursor: inherit;
                background-color:inherit;
                opacity: inherit;
            }

            .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
                color: #ccc;
            }

            .required {
                color: red;
            }

            .form-control-inline {
                min-width: 0;
                max-width: 200px;
                /* width: auto; */
                display: inline;
            }

            label.heading {
                margin-top: 10px;
            } 

            div {
                margin-top: 0px;
            }
          
            .fileinput-filename {
                width: 80%;
                height: 100%;
            }

            .creative-brief {
                width: 100%;
                height: 100%;
                padding: 1.5em;
            }
			
			#border {
				width: 95%;
				background-color: #062b48;
				/* color: #000000; */
				border: #000000 3px groove;
				margin: auto;
				text-align: center;
				border-radius: 1.5em;
				padding: .5em;
				box-shadow: 7px 7px 7px #6e6e6e;
			}

            #contentBorder {
                width: 95%;
                background-color: #c6c6c6;
                /* color: #000000; */
                border: #000000 3px groove;
                margin: auto;
                text-align: center;
                border-radius: 1.5em;
                padding: .5em;
                box-shadow: 7px 7px 7px #6e6e6e;
            }

            #headerBorder {
                width: 95%;
                height: auto;
                background-color: #efefef;
                color: #000000;
                border: #000000 3px groove;
                margin: auto;
                text-align: left;
                align: center;
                border-radius: 1.5em;
                padding: 1.5em;
                box-shadow: 7px 7px 7px #6e6e6e;
            }

			#appBorder {
				width: 95%;
                height: 100%;
				background-color: #efefef;
				color: #000000;
				border: #000000 3px groove;
				margin: auto;
				text-align: left;
                align: center;
				border-radius: 1.5em;
				padding: 1.5em;
				box-shadow: 7px 7px 7px #6e6e6e;
			}
            #remember {
                width: 95%;
                background-color: #ef2503;
                color: #ffffff;
                border: #000000 3px groove;
                margin: auto;
                text-align: left;
                border-radius: 1.5em;
                padding: 1.5em;
                box-shadow: 7px 7px 7px #6e6e6e;
            }
            #remember-stems {
                width: 95%;
                background-color: #f8f50c;
                color: #000000;
                border: #000000 3px groove;
                margin: auto;
                text-align: left;
                border-radius: 1.5em;
                padding: 1.5em;
                box-shadow: 7px 7px 7px #6e6e6e;
            }
            #understand {
                width: 95%;
                background-color: #a100d5;
                color: #ffffff;
                border: #000000 3px groove;
                margin: auto;
                text-align: left;
                border-radius: 1.5em;
                padding: 1.5em;
                box-shadow: 7px 7px 7px #6e6e6e;
            }
            #understand-stems {
                width: 95%;
                background-color: #f8f50c;
                color: #000000;
                border: #000000 3px groove;
                margin: auto;
                text-align: left;
                border-radius: 1.5em;
                padding: 1.5em;
                box-shadow: 7px 7px 7px #6e6e6e;
            }
            #apply {
                width: 95%;
                background-color: #ff8c19;
                color: #ffffff;
                border: #000000 3px groove;
                margin: auto;
                text-align: left;
                border-radius: 1.5em;
                padding: 1.5em;
                box-shadow: 7px 7px 7px #6e6e6e;
            }
            #apply-stems {
                width: 95%;
                background-color: #f8f50c;
                color: #000000;
                border: #000000 3px groove;
                margin: auto;
                text-align: left;
                border-radius: 1.5em;
                padding: 1.5em;
                box-shadow: 7px 7px 7px #6e6e6e;
            }
            #analyze {
                width: 95%;
                background-color: #007c2d;
                color: #ffffff;
                border: #000000 3px groove;
                margin: auto;
                text-align: left;
                border-radius: 1.5em;
                padding: 1.5em;
                box-shadow: 7px 7px 7px #6e6e6e;
            }
            #analyze-stems {
                width: 95%;
                background-color: #f8f50c;
                color: #000000;
                border: #000000 3px groove;
                margin: auto;
                text-align: left;
                border-radius: 1.5em;
                padding: 1.5em;
                box-shadow: 7px 7px 7px #6e6e6e;
            }
            #evaluate {
                width: 95%;
                background-color: #004be7;
                color: #ffffff;
                border: #000000 3px groove;
                margin: auto;
                text-align: left;
                border-radius: 1.5em;
                padding: 1.5em;
                box-shadow: 7px 7px 7px #6e6e6e;
            }
            #evaluate-stems {
                width: 95%;
                background-color: #f8f50c;
                color: #000000;
                border: #000000 3px groove;
                margin: auto;
                text-align: left;
                border-radius: 1.5em;
                padding: 1.5em;
                box-shadow: 7px 7px 7px #6e6e6e;
            }
            #create {
                width: 95%;
                background-color: #54595f;
                color: #ffffff;
                border: #000000 3px groove;
                margin: auto;
                text-align: left;
                border-radius: 1.5em;
                padding: 1.5em;
                box-shadow: 7px 7px 7px #6e6e6e;
            }
            #create-stems {
                width: 95%;
                background-color: #f8f50c;
                color: #000000;
                border: #000000 3px groove;
                margin: auto;
                text-align: left;
                border-radius: 1.5em;
                padding: 1.5em;
                box-shadow: 7px 7px 7px #6e6e6e;
            }
			.textarea {
				width: 50em;
				height: 4em;
			}

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

input[type="radio"]:checked ~ .reveal-if-active,
input[type="checkbox"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100px; /* little bit of a magic number :( */
  overflow: visible;
}